<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Posto 2</key>
	<dict>
		<key>codigo</key>
		<integer>2</integer>
		<key>descricao</key>
		<string>Shell João Firmino</string>
		<key>status</key>
		<string>A</string>
	</dict>
	<key>Posto 1</key>
	<dict>
		<key>codigo</key>
		<integer>1</integer>
		<key>descricao</key>
		<string>Shell Kennedy</string>
		<key>status</key>
		<string>C</string>
	</dict>
</dict>
</plist>
